.App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books{
    display:flex;
    gap: 10px;
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(29, 235, 224);
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(254, 191, 191);
    color: red;
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(254, 191, 191);
    color: greenyellow;
}

.add{
    margin-top: 10px;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    width: 250px;
    padding: 10px;
    border: 1 px solid gray;
    border-radius: 5%;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(238, 207, 108);
    color: white;
    font-weight: bold;
    cursor: pointer;
}